.header-container {
  background-color: rgb(62, 121, 208);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 25px;
  width: 100%;
}

.header-container h1 {
  font-size: 38px;
}

.logo {
  align-items: center;
  background-color: rgb(62, 121, 208);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(254, 254, 254);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 20px;
  text-decoration: none;
}

.logo:hover {
  box-shadow: 0 0 20px rgb(9, 26, 82);
}

.logo h1:nth-child(1) {
  width: 160px;
}

.logo p {
  padding-top: 10px;
  font-size: 36px;
}

.logo:hover p{
  color: rgb(97, 219, 251);
}

.search-bar {
  display: flex;
  flex-basis: 50%;
  padding: 10px;
  margin: 0 20px;
}

.search-bar button {
  background-color: rgb(254, 254, 254);
  border: 0;
  cursor: pointer;
  padding: 10px;
}

.search-bar input {
  background-color: rgb(254, 254, 254);
  border: 0;
  flex-basis: 100%;
  padding: 10px;
}

.search-bar select {
  background-color: rgb(254, 254, 254);
  border: 0;
  border-radius: 10px 0 0 10px;
  width: auto;
  padding: 10px;
}

.search-button {
  border-radius: 0 10px 10px 0;
}

.search-button h3 {
  display: flex;
  font-size: 18px;
}

.user-cart {
  display: flex;
}

.user-access-container {
  color:rgb(254, 254, 254);
  cursor: pointer;
  display: flex;
  justify-content:  center;
  padding: 10px;
  width: 220px;
}

.user-access-container h3 {
  align-items: center;
  display: flex;
  font-size: 42px;
  margin: 0 5px;
}

.user-access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.sing-up {
  display: flex;
}

.sing-up h5 {
  font-size: 14px;
}

.sing-up p {
  font-size: 14px;
  margin-left: 10px;
}

.cart-icon {
  color: rgb(254, 254, 254);
  display: flex;
  margin: 0 20px;
  padding: 10px;
  text-decoration: none;
}

.cart-icon:hover h3 {
  transform: scale(1.2);
}

.cart-icon:hover  p {
  color: rgb(97, 219, 251);
  transform: scale(1.2);
}

.cart-icon p {
  align-items: center;
  color: rgb(254, 254, 254);
  display: flex;
  height: 55px;
  justify-content:  center;
  position: absolute;
  width: 46px;
}

.cart-icon h3 {
  align-items: center;
  display: flex;
  font-size: 44px;
}
