.header-container {
  background-color: rgb(62, 121, 208);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 25px;
  width: 100%;
}

.header-container h1 {
  font-size: 38px;
}

.logo {
  align-items: center;
  background-color: rgb(62, 121, 208);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(254, 254, 254);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 20px;
  text-decoration: none;
}

.logo:hover {
  box-shadow: 0 0 20px rgb(9, 26, 82);
}

.logo h1:nth-child(1) {
  width: 160px;
}

.logo p {
  padding-top: 10px;
  margin-left: -5px;
  font-size: 36px;
}

.logo:hover p{
  color: rgb(97, 219, 251);
}

.search-bar {
  display: flex;
  flex-basis: 50%;
  padding: 10px;
  margin: 0 20px;
}

.search-bar button {
  background-color: rgb(254, 254, 254);
  border: 0;
  cursor: pointer;
  padding: 10px;
}

.search-bar input {
  background-color: rgb(254, 254, 254);
  border: 0;
  flex-basis: 100%;
  outline: none;
  padding: 10px;
}

.search-bar select {
  appearance: searchfield;
  background-color: rgb(254, 254, 254);
  border: 0;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  width: auto;
}

.search-button {
  border-radius: 0 10px 10px 0;
}

.search-button h3 {
  display: flex;
  font-size: 18px;
}

.user-cart {
  display: flex;
}

.user-access-container {
  color:rgb(254, 254, 254);
  cursor: pointer;
  display: flex;
  justify-content:  center;
  padding: 10px;
  width: 220px;
}

#acess-box {
  align-items: center;
  background-color: rgb(40, 88, 160);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 200px;
}

#acess-box input {
  border: none;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  margin: 10px 0;
  text-align: center;
}

#acess-box h5:last-of-type {
  margin-top: 10px;
}

#acess-box button {
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px;
}

#acess-box button:hover {
  background-color: rgb(97, 219, 251);
  color: rgb(255, 255, 255);
}

.welcome {
  text-align: center;
}

.welcome h4:last-child {
  text-align: center;
  color: rgb(97, 219, 251);
}

.user-access-container:hover {
  color: rgb(62, 121, 208);
}

.user-access-container:hover #acess-box {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  transform: scale(1.05);
  transition: 1s;
  visibility: visible;
}

.user-access-container:hover .welcome h4:last-child {
  color: rgb(62, 121, 208);
}

.user-access-container h3 {
  align-items: center;
  display: flex;
  font-size: 42px;
  margin: 0 5px;
}

.user-access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.sing-up {
  display: flex;
}

.sing-up h5 {
  font-size: 14px;
  text-align: center;
}

.sing-up p {
  font-size: 14px;
  margin-left: 10px;
}

.cart-icon {
  color: rgb(254, 254, 254);
  display: flex;
  margin: 0 20px;
  padding: 10px;
  text-decoration: none;
}

.cart-icon:hover h3 {
  transform: scale(1.2);
}

.cart-icon:hover  p {
  color: rgb(97, 219, 251);
  transform: scale(1.2);
}

.cart-icon p {
  align-items: center;
  color: rgb(254, 254, 254);
  display: flex;
  height: 54px;
  justify-content:  center;
  position: absolute;
  width: 54px;
}

.cart-icon h3 {
  align-items: center;
  display: flex;
  font-size: 50px;
}
