.product-details-page {
  display: flex;
  justify-content: center;
}

.product-details-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.product-details-message {
  align-items: center;
  background-color: rgba(255, 255, 255);
  border: 2px solid rgba(97, 219, 251);
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(97, 219, 251);
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  visibility: hidden;
}

.product-details-message h3 {
  color: rgb(51, 51, 51);
  margin-bottom: 30px;
  text-align: center;
}

.product-details-message button {
  background-color: rgb(97, 219, 251);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
}

.product-details-message button:hover {
  background-color: rgb(21, 201, 246);
}

.product-details-image {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
}

.product-details-image img {
  height: 500px;
  object-fit: contain;
  padding: 20px 0;
  width: 500px;
}

.product-details {
  background-color: rgb(255, 255, 255);
  border: 20px solid rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
  height: 500px;
  overflow: auto;
  padding: 20px 0;
  width: 500px;
}

.product-details h2 {
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(51, 51, 51);
  font-size: 18px;
  padding-bottom: 10px;
}

.product-details-price {
  display: flex;
  margin: 20px 0;
}

.product-details-price div:nth-child(1) {
  color: rgb(51, 51, 51);
}

.product-details-price div:nth-child(2) {
  align-items: center;
  color: rgb(97, 219, 251);
  display: flex;
  margin-left: 20px;
}

.product-details-price h5 {
  color: rgb(102, 102, 102, 0.5);
  text-decoration:line-through;
}

.product-info {
  display: flex;
  margin-bottom: 2px;
}

.product-info p {
  margin: 2px;
}

.product-details-order {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin-left: 40px;
  padding: 20px;
  width: 250px;
}

.product-details-order h3 {
  color: rgb(51, 51, 51);
  margin-bottom: 30px;
}

.product-details-order h4 {
  font-size: 14px;
}

.order-original-price {
  display: flex;
  height: 15px;
}

.product-details-order h4 {
  color: rgb(51, 51, 51);
}

.order-original-price h5:nth-child(1) {
  color: rgb(102, 102, 102, 0.5);
  text-decoration:line-through;
}

.order-original-price h5:nth-child(2) {
  color: rgb(97, 219, 251);
  padding-left: 5px;
}

.product-details-quantity {
  display: flex;
  margin-bottom: 30px;
  margin-top: 5px;
}

.product-details-quantity select {
  text-align: center;
  margin-left: 5px;
  width: 50px;
}

.product-details-quantity input[type=number] {
  margin-left: 5px;
  text-align: center;
  width: 50px;
}

.product-details-quantity input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

.product-details-buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-details-buttons button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 15px;
}

.product-details-buttons button:nth-child(1) {
  background-color: rgb(62, 121, 208);
  color: rgb(255, 255, 255);
}

.product-details-buttons button:nth-child(1):hover {
  background-color: rgb(45, 102, 188);
  transition: 0.2s;
}

.product-details-buttons button:nth-child(2) {
  background-color: rgb(97, 219, 251);
  color: rgb(255, 255, 255);
}

.product-details-buttons button:nth-child(2):hover {
  background-color: rgb(21, 201, 246);
  transition: 0.2s;
}
